<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title> Stock Market </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Stocks </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/stocks/">Home</a>
              </li>
            </ul>
            <form class="d-flex" method="POST">
              {% csrf_token %}
              {% if request.user.is_authenticated  %}
                <a class="btn btn-outline-success" href="{% url "stocks:logout_page" %}" type="submit">Logout</a>
              {% else %} 
              <a class="btn btn-outline-success" href="{% url "stocks:login_page" %}" type="submit">Login</a>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>


    <main>
        {% block start %}

        {% endblock %}
    </main>

    <footer class="bg-body-tertiary">
        <p>💸💸 2021 Stock Market. All rights reserved.</p>
        <ul>

        </ul>
        <p>Made with <span class="heart">❤️</span> by DarkForce</p>
    </footer>

</body>
</html>